.App {
  height: 100vh;
  display: flex;
}

.background {
  // background: linear-gradient(to right, #ddd6f3, #faaca8);
  background-image: linear-gradient(-162deg, rgba(240,118,141,0.21) 0%, rgba(237,161,82,0.14) 26%, rgba(200,109,215,0.08) 100%);

  border-radius: 5px;
  width: 100%;
  margin: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}