.App {
  height: 100vh;
  display: flex;
}

.background {
  background-image: linear-gradient(45deg, #C9EDF5 0%, rgba(202,234,242,0.99) 16%, rgba(240,118,141,0.45) 64%, rgba(176,7,100,0.16) 100%);
  border-radius: 5px;
  width: 100%;
  margin: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}