.App {
  height: 100vh;
  display: flex;
}

.background {
  background-image: linear-gradient(-133deg, rgba(239, 201, 245, 0.83) 0%, rgba(109, 194, 237, 0.79) 100%);
  border-radius: 5px;
  width: 100%;
  margin: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}